@keyframes truckLoopAnimation {
    0% {
        left: -14%;
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
      left: 105%;
      opacity: 0;
    }
  }

  .locationSuggestion {
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 2px;
    color: var(--main-color);
    border-top: 1px solid var(--border-color);
  }
                          