.mainContainer {
    max-width: 1470px;
    margin: auto;
  }
  
  .introSection {
    max-width: 550px;
    margin-top: -250px;
    margin-left: 40px;
    z-index: 10000;
    position: relative;
    margin-bottom: 200px;
    transition: ease-in-out 0.3s all;
  }
  
  .mainTitle {
    font-size: 54px;
    margin: 0;
  }
  
  .mainDescription {
    margin-top: 10px;
    opacity: 0.65;
  }
  
  .trailersSection {
    padding: 0px 40px;
    position: relative;
    z-index: 10000;
    transition: ease-in-out 0.3s all;
  }
  
  .trailersIntro {
    transition: ease-in-out 0.3s all;
  }
  
  .trailersTitle {
    margin: 0;
    padding: 0;
    margin-top: 40px;
  }
  
  .trailersSubtitle {
    color: var(--main-color);
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    opacity: 0.6;
  }
  
  .trailersGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
  }
  
  .trailerCard {
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 300px;
    position: relative;
    max-width: 100%;
  }
  
  .trailerImage {
    width: 100%;
    height: 300px;
    background-color: var(--border-color);
    border-radius: 10px;
    border: none;
    outline: none;
  }
  
  .photoBadge {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--main-color);
    background-color: var(--main-bg-color);
    position: absolute;
    right: 30px;
    margin-top: -50px;
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0.7;
  }
  
  .trailerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .trailerDetails {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .mileage {
    margin-top: -20px;
    color: var(--sec-color);
  }
  
  .availability {
    margin-top: -20px;
    color: #469e4a;
  }
  
  .availabilityDot {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 900;
  }
  
  .trailerLogo {
    width: 30px;
  }
  
  .trailerPricing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .pricingRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    margin-bottom: -20px;
  }
  
  .divider {
    text-align: center;
    background-color: var(--border-color);
    height: 1px;
    width: 100%;
  }
  
  .dividerText {
    position: absolute;
    margin-top: -11px;
    background-color: var(--main-bg-color);
    width: 40px;
    margin-left: -20px;
    color: var(--sec-color);
  }
  
  .viewMoreButton {
    background-color: var(--btn-bg-color);
    outline: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .trustedTitle {
    margin: 0;
    padding: 0;
    margin-top: 40px;
  }
  
  .trustedDescription {
    color: var(--sec-color);
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 600px) {
    .introSection {
      margin-left: 20px;
      max-width: none;
      margin-top: -150px;
      margin-bottom: 100px;
    }

    .mainDescription {
      max-width: 80%;
      margin-top: 0;
    }

    .mainTitle {
      font-size: 32px;
    }
    
    .trailersSection {
      padding: 0px 20px;
    }

    .trustedTitle {
      font-size: 24px;
    }
  }